@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
/* nos permite traer los iconos de la lista */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

ul,
ol {
  list-style: none;
}

.main {
  margin: 0.5em;
  /* backdrop-filter: blur(10px); */
  margin: 0;
  padding: 50px;
  min-height: 100vh;
  background-image: url(/img/fondo-formadopcion.webp);
  background-size: cover;
  background-attachment: fixed;
}

.main__title {
  text-align: center;
  margin-bottom: 0.5em;
  color: whitesmoke;
}

.section {
  margin-bottom: 1em;
}

.section-form {
  padding: 45px 80px 30px;
  border-radius: 50px 0;
  background-color: #ffafcc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);  /* Sombra para efecto elevado */
  min-width: 550px; /*o 500px*/
  max-width: 800px;
}

.section__title {
  margin-bottom: 1.3em;
  text-align: center;
  color: palevioletred;
}

.form__container {
  margin-top: 30px;
}

.form_task {
  /* display: flex; */
  /* display: block; */
  justify-content: space-between;
  gap: 0.25em;
  /* Espacio uniforme de 0.25em entre los elementos flexibles */
}

.form__label {
  align-self: center;
  font-weight: bold;
  font-size: 1.3em;
  color: whitesmoke;
}

.form__input {
  flex: 1;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Sombra para efecto elevado */
  border-color: transparent;
  width: 200px;
}
.form__input:focus {
  border: 3px solid transparent;
  outline: 3px rgb(245, 245, 245) solid; /*sirve para cambiar el borde al hacer click*/
}

.form__inputedad,
.form__selectedad {
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  /* Sombra para efecto elevado */
  border-color: transparent;
}

.form__inputedad {
  width: 60px;
}

.form__button {
  display: inline-block;
  padding: 0.25em 1em;
  padding: 10px 30px;
  border-radius: 15px 0;
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
  color: #ffafcc;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Sombra para efecto elevado */
}

.form__button:hover {
  border: 3px solid palevioletred;
  background-color: palevioletred;
  color: whitesmoke;
}

.section__error {
  margin-top: 10px;
}

.error-nombre,
.error-edad,
.error-descrip {
  /* text-align: center; */
  color: red;
  margin-top: 5px;
}

.section-list {
  padding: 60px 100px;
  border-radius: 50px 0;
  /* background-color: #ffafcc; */
  /* background-color: #c4dfb8; */
  background-color: #eafae4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* Sombra para efecto elevado */
  min-width: 800px;
}

.listado__title {
  margin-bottom: 1.3em;
  text-align: center;
  /* color: #b6e2a1; */
  color: #add899;
}

.tasks__item {
  display: flex;
  justify-content: space-between;
  /*cada perrito agregado*/
  margin: 5px 0;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #c2dfb5;
}
.tasks__item p {
  font-size: 1.4em;
}

.done {
  text-decoration: line-through;
}

.bx-check {
  color: green;
  cursor: pointer;
}

.bx-trash {
  color: red;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*MEDIA QUERIES ABM*/
/*PÁGINA ABM-LISTADO*/

@media (min-width: 768px) {
  .section {
    max-width: 750px; /*400*/
    margin: auto;
    margin-bottom: 1.5em;
  }
}

/* @media (max-width: 768px) {

} */

/* @media screen and (max-width: 576px) {

} */