@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"); 
/* nos permite traer los iconos de la lista */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

ul,
ol {
  list-style: none;
}

/* body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2em;
  row-gap: 0.5em;
} */

.main {
  margin: 0.5em;
  /* backdrop-filter: blur(10px); */
}


.main__title {
  text-align: center;
  margin-bottom: 0.5em;
}

.section {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .section {
    max-width: 400px;
    margin: auto;
    margin-bottom: 1.5em;
  }
}

.section__title {
  margin-bottom: 1.3em;
}

.form_task {
  display: flex;
  justify-content: space-between;
  gap: 0.25em; /* Espacio uniforme de 0.25em entre los elementos flexibles */
}

.form__label {
  align-self: center;
  font-weight: bold;
}

.form__input {
  flex: 1;
}

.form__button {
  display: inline-block;
  padding: 0.25em 1em;
}

.error {
  text-align: center;
  color: red;
}

.tasks__item {
  display: flex;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
}

.bx-check {
  color: green;
  cursor: pointer;
}

.bx-trash {
  color: red;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*EDIT POR MI*/
.main{
  margin: 0;
  padding: 50px;
  height: 100vh;
  background-image: url(/img/fondo-formadopcion.webp);
  background-size: cover;
  /* backdrop-filter: blur(10px); */
}
.main__title{
  color: whitesmoke;
}
.section-form{
  padding: 45px 80px;
  border-radius: 50px 0;
  background-color: #ffafcc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Sombra para efecto elevado */
  min-width: 550px; /*o 500px*/
}
.section__title{
  text-align: center;
}
.form__label{
  font-size: 1.3em;
}
.form__input{
  border-radius: 5px;
  padding: 2px 10px;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Sombra para efecto elevado */
  border-color: transparent;
  width: 200px;
}
.form__input:focus{
  border: 3px solid transparent;
  outline: 3px rgb(245, 245, 245) solid; /*sirve para cambiar el borde al hacer click*/
}
.form__button{
  padding: 10px 30px;
  border-radius: 15px 0;
  border: 3px solid whitesmoke;
  background-color: whitesmoke;
  color: #ffafcc;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Sombra para efecto elevado */
}
.form__button:hover{
  border: 3px solid palevioletred;
  background-color: palevioletred;
  color: whitesmoke;
}
.section-list{
  padding: 60px 100px;
  border-radius: 50px 0;
  background-color: #ffafcc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Sombra para efecto elevado */  
  min-width: 800px;
}

.tasks__item{ /*cada perrito agregado*/
  margin: 5px 0;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.tasks__item p{
  font-size: 1.4em;
}

/*MEDIA QUERIES ABM*/
/*PÁGINA ABM-LISTADO*/
@media (max-width: 768px) { /* 765 */
  .section-form{
    /* min-width: 500px; */
  }
}
@media screen and (max-width: 576px){
  .section-form{
    min-width: 400px;
    /* padding: 40px; */
  }
}