@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
/* nos permite traer los iconos de la lista */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

#main-listas { /*,.container-animales,*/
  height: 80vh;
  /* max-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------Listas buttons-------------------- */
.container-listas{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  background-color: burlywood;
}
.container-listas a{
  background-color: antiquewhite;
  width: 400px;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: grey;
}
.container-listas a:hover{
  background-color: #f0e68c;
  transition: all 0.3s ease-in-out;
}

/*-------------Animales---------------- */
.container-animales{
  height: 90vh;
  /* max-height: 120vh; */
  display: flex;
}
.container-animales h1{
  width: 500px;
  padding: 35px 0;
  margin-bottom: 20px;
  border: 1px solid #ffd1d1;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  background-color: #f48e8e;
  text-align: center;
}
.animal-form form{
  border: 2px solid #ebddcd;
  border-radius: 10px;
  /* background-color: #fff8f5; */
  background-color: #fff4ef;
}
.animal-form,
.animal-form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.animal-form{
  width: 40%;
}
.container-animales label,
.container-animales input,
.container-animales select,
.container-animales textarea{
  width: 300px;
  padding: 10px 0;
  border-radius: 5px;
  color: #655047;
}
.container-animales input,
.container-animales select,
.container-animales textarea{
  background-color: #fffdfc;
  border: 2px solid #f3cfcf;
  padding-left: 10px;
}
.container-animales label{
  padding-left: 2px;
}
.container-animales select {
  border: 2px solid #f3cfcf;
  /* padding: 10px; */
  /* font-size: 14px; */
  /* appearance: none; */
}
.container-animales option{
  background-color: #fffdfc;
  color: #655047;
}
.container-animales option:hover{
  background-color: #fcd0be;
}
.container-animales input:focus,
.container-animales select:focus,
.container-animales textarea:focus{
  outline: none;
  border: 2px solid #ebc1c1;
}
.foto-container,
.foto-nueva-container{
  border: 3px dashed #dcdcdc;
  border-radius: 15px;
  width: 300px;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 10px;
  background-color: #fffdfb;
  cursor: pointer;
}
.foto-container label,
.foto-nueva-container label{
  display: block;
  cursor: pointer;
  padding: 0;
  margin-bottom: 0;
  color: #807460;
  font-weight: 600;
}
.foto-container input[type="file"],
.foto-nueva-container input[type="file"]{
  display: none;
}
/* Estilo moderno para el input de tipo file quedaria modificar a gusto de cada uno */
input[type="file"] {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 14px;
  color: #555;
  background-color: #f9f9f9;
  border: 2px dashed #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="file"]:hover {
  background-color: #f1f1f1;
  border-color: #888;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #a8d5ba;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #8cc6a3;
}

.container-animales button{
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.animal-form button{
  color: #ffffff; 
  margin: 10px 0 30px;
  padding: 15px;
  font-size: large;
  border: 1px solid #d3ebdd;
  background-color: #a8d5ba;
}
.animal-form button:hover{
  background-color: #8cc6a3;
  transition: all 0.3s ease-in-out;
}
.container-lista-animales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.animal-list{
  justify-content: center;
  align-items: center;
  border: 2px solid #ebddcd;
  border-radius: 10px;
  width: 500px;
}
.animal-list h2{
  padding: 20px 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: #a0d0f3;
  color: #ffffff;
}
.buscador-container{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.buscador-container button{
  padding: 10px 15px;
  margin-left: 10px;
  font-size: medium;
  background-color: #bbdff6;
  border: 1px solid #d9edfb;
  color: #2f4f6b;
}
.buscador-container button:hover{
  background-color: #a0d0f3;
  border-color: #8bb8d6;
  color: #ffffff;
}
.container-lista-animales table{
  display: none;
  border-radius: 10px;
  background-color: #fef9ef;
  border: 2px solid #efe1cf;
  color: #655047;
  border-collapse: collapse;
  margin-top: 20px;
}
.container-lista-animales thead{
  background-color: #fbead2;
}
.container-lista-animales th{
  color: #655047;
  padding: 10px;
  border-bottom: 2px solid #f0e2cf;
}
.container-lista-animales td{
  color: #655047;
  padding: 10px 20px;
  border-bottom: 2px solid #f0e2cf;
}
.container-lista-animales table button{
  padding: 10px 15px;
  font-size: medium;
}
.btn-warning{
  background-color: #f9e79f;
  border: 1px solid #f7dc6f;
  color: #7d6608;
}
.btn-warning:hover {
  background-color: #f7dc6f;
  border-color: #f4d03f;
  color: #ffffff;
}
.btn-danger{
  background-color: #f4b3b3;
  border: 1px solid #ffdada;
  color: #6b2b2b;
}
.btn-danger:hover{
  background-color: #e86a6a;
  color: #ffffff;
}
.editarForm{
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
}
.modal-container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-editar,
.modal-editar form{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-editar{
  margin: 30px auto auto;
  padding-bottom: 20px;
  width: 30%;
  border-radius: 10px;
}
.modal-editar h2{
  background-color: #f9e79f;
  color: #7d6608;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 20px 0;
  text-align: center;
}
.modal-editar img {
  max-width: 100%; /* La imagen no será más ancha que el contenedor */
  max-height: 180px; /* Limita la altura máxima */
  object-fit: contain; /* Ajusta la imagen para que no se deforme */
  border-radius: 5px;
  margin: 10px 0;
}
#editarForm button[type="submit"]{
  margin: 10px 0;
  padding: 10px 15px;
  font-size: medium;
  color: #ffffff;
  border: 1px solid #d3ebdd;
  background-color: #8aceb5;
}
#editarForm button[type="submit"]:hover{
  background-color: #70c29e;
  transition: all 0.3s ease-in-out;
}
#cerrarModal{
  padding: 10px 15px;
  background-color: #eea7a7;
  border: 1px solid #f4b3b3;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
#cerrarModal:hover{
  background-color: #e86a6a;
  transition: all 0.3s ease-in-out;
}

/* -----------------Paginacion-------------------- */
.paginacion{
  margin-top: 10px;
}
.paginacion span{
  margin: 0 10px;
}
.paginacion button {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #b3d9ff;
  background-color: #c5e4f8;
  border-radius: 5px;
  /* color: #003366; */
  transition: background-color 0.3s ease;
}
.paginacion button:hover {
  background-color: #b3d9ff;
}
.paginacion button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
/* --------------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) { 

}
@media screen and (max-width: 576px){

}