@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
/* nos permite traer los iconos de la lista */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.container-abm {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------Listas buttons-------------------- */
#atras {
  position: absolute;
  margin-left: 45px;
}

.container-menu-listas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  background-color: #fff8f5;
}

.container-menu-listas a {
  width: 400px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  padding: 20px 0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

#btn-animales {
  background-color: #f9afaf;
  border: 1px solid #ffdada;
  color: #6b2b2b;
}

#btn-animales:hover {
  background-color: #e58989;
  transition: all 0.3s ease-in-out;
}

#btn-adopciones {
  background-color: #b6e2d3;
  border: 1px solid #ddf1ea;
  color: #3b5f54;
}

#btn-adopciones:hover {
  background-color: #94d3be;
  transition: all 0.3s ease-in-out;
}

#btn-usuarios {
  background-color: #d6c7f7;
  border: 1px solid #e9e1fb;
  color: #5f4b8b;
}

#btn-usuarios:hover {
  background-color: #a78ee0;
  background-color: #bfa5f0;
  transition: all 0.3s ease-in-out;
}

#btn-articulos {
  background-color: #bbdff6;
  border: 1px solid #d9edfb;
  color: #2f4f6b;
}

#btn-articulos:hover {
  background-color: #8bb8d6;
  background-color: #a0d0f3;
  transition: all 0.3s ease-in-out;
}

#btn-donaciones {
  background-color: #ffe0b2;
  border: 1px solid #fff1d6;
  color: #6b4b2b;
}

#btn-donaciones:hover {
  background-color: #ffd38a;
  transition: all 0.3s ease-in-out;
}

#btn-voluntarios {
  background-color: #f7c9e3;
  border: 1px solid #fce4f0;
  color: #6a3d57;
}

#btn-voluntarios:hover {
  background-color: #f3a9d3;
  transition: all 0.3s ease-in-out;
}

/*-------------Animales---------------- */
.container-listas {
  /* height: auto; */
  padding: 50px 0;
  min-height: 90vh;
  display: flex;
}

.container-listas h1 {
  width: 100%;
  max-width: 500px;
  padding: 35px 0;
  margin-bottom: 20px;
  border: 1px solid #ffd1d1;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
  background-color: #f48e8e;
  text-align: center;
}

.container-form-listas form {
  border: 2px solid #ebddcd;
  border-radius: 10px;
  /* background-color: #fff8f5; */
  background-color: #fff4ef;
  width: 100%;
  max-width: 500px;
}

.container-form-listas,
.container-form-listas form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.container-form-listas {
  width: 40%;
}

.container-listas label,
.container-listas input,
.container-listas select,
.container-listas textarea {
  width: 300px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #fffdfc;
  color: #655047;
  padding-left: 10px;
}

.container-form-listas input,
.container-form-listas select,
.container-form-listas textarea {
  border: 2px solid #f3cfcf;
}

.container-listas label {
  padding-left: 2px;
  background-color: transparent;
}

.container-form-listas select {
  border: 2px solid #f3cfcf;
  /* appearance: none; */
}

.container-listas option {
  background-color: #fffdfc;
  color: #655047;
}

/* .container-animales option:hover{
  background-color: #fcd0be;
} */
.container-form-listas input:focus,
.container-form-listas select:focus,
.container-form-listas textarea:focus {
  outline: none;
  border: 2px solid #ebc1c1;
}

/* Estilo moderno para el input de tipo file quedaria modificar a gusto de cada uno */
.container-form-listas input[type="file"],
.modal-editar input[type="file"] {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 2px dashed #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container-form-listas[type="file"]:hover,
.modal-editar[type="file"]:hover {
  background-color: #f1f1f1;
  border-color: #888;
}

.container-form-listas input[type="file"]::-webkit-file-upload-button,
.modal-editar input[type="file"]::-webkit-file-upload-button {
  background-color: #a8d5ba;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.container-form-listas input[type="file"]::-webkit-file-upload-button:hover,
.modal-editar input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #8cc6a3;
}

.container-listas button {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container-form-listas button {
  color: #ffffff;
  margin: 25px 0 30px;
  padding: 15px;
  font-size: large;
  border: 1px solid #d3ebdd;
  background-color: #a8d5ba;
}

.container-form-listas button:hover {
  background-color: #8cc6a3;
  transition: all 0.3s ease-in-out;
}

.container-tabla-listas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.container-busqueda-tablas {
  justify-content: center;
  align-items: center;
  border: 2px solid #a0d0f3;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.container-busqueda-tablas h2 {
  padding: 20px 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: #a0d0f3;
  color: #ffffff;
}

.buscador-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.buscador-container input {
  border: 2px solid #bbdff6;
}

.buscador-container input:focus {
  outline: none;
  border: 2px solid #a2cbe7;
}

.buscador-container button {
  padding: 10px 15px;
  margin-left: 10px;
  font-size: medium;
  background-color: #bbdff6;
  border: 1px solid #d9edfb;
  color: #2f4f6b;
}

.buscador-container button:hover {
  background-color: #a0d0f3;
  border-color: #8bb8d6;
  color: #ffffff;
}

.container-tabla-listas table {
  display: none;
  border-radius: 10px;
  background-color: #fef9ef;
  border: 2px solid #efe1cf;
  color: #655047;
  border-collapse: collapse;
  margin-top: 20px;
}

.container-tabla-listas thead {
  background-color: #fbead2;
}

.container-tabla-listas th {
  color: #655047;
  padding: 10px;
  border-bottom: 2px solid #f0e2cf;
}

.container-tabla-listas td {
  color: #655047;
  padding: 8px 15px;
  border-bottom: 2px solid #f0e2cf;
}

.container-tabla-listas table button {
  padding: 10px 15px;
  font-size: medium;
}

.btn-danger,
.btn-warning {
  display: inline-flex;
}

.btn-danger img,
.btn-warning img{
  width: 20px;
  height: 20px;
}

.btn-warning {
  background-color: #f9e79f;
  border: 1px solid #f7dc6f;
  /* color: #7d6608; */
}

.btn-warning:hover {
  background-color: #f7dc6f;
  border-color: #f4d03f;
  /* color: #ffffff; */
}

.btn-danger {
  background-color: #f4b3b3;
  border: 1px solid #ffdada;
  /* color: #6b2b2b; */
}

.btn-danger:hover {
  background-color: #e86a6a;
  /* color: #ffffff; */
}

.editarForm {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-editar,
.modal-editar form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcf2e3;
}

.modal-editar {
  margin: 30px auto auto;
  padding-bottom: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.modal-editar h2 {
  background-color: #f9e79f;
  color: #7d6608;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 20px 0;
  text-align: center;
}

.modal-editar input,
.modal-editar select,
.modal-editar textarea {
  border: 2px solid #f5e3b4;
  color: #655047;
}

.modal-editar option {
  background-color: #fffdfc;
  color: #655047;
}

.modal-editar input:focus,
.modal-editar select:focus,
.modal-editar textarea:focus {
  outline: none;
  border: 2px solid #f8d388;
}

.modal-editar input[type="file"]:focus {
  border: 2px dashed #ccc;
}

.modal-editar img {
  max-width: 100%;
  /* La imagen no será más ancha que el contenedor */
  max-height: 180px;
  /* Limita la altura máxima */
  object-fit: contain;
  /* Ajusta la imagen para que no se deforme */
  border-radius: 5px;
  margin: 20px 0 10px;
}

#editarForm button[type="submit"] {
  margin: 10px 0;
  padding: 15px;
  font-size: medium;
  color: #ffffff;
  border: 1px solid #d3ebdd;
  background-color: #8aceb5;
}

#editarForm button[type="submit"]:hover {
  background-color: #70c29e;
  transition: all 0.3s ease-in-out;
}

#cerrarModal {
  padding: 10px 15px;
  background-color: #eea7a7;
  border: 1px solid #f4b3b3;
  color: #ffffff;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

#cerrarModal:hover {
  background-color: #e86a6a;
  transition: all 0.3s ease-in-out;
}

/* -----------------Paginacion-------------------- */
.paginacion {
  margin-top: 20px;
}

.paginacion span {
  margin: 0 10px;
}

.paginacion button {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #b3d9ff;
  background-color: #c5e4f8;
  border-radius: 5px;
  /* color: #003366; */
  transition: background-color 0.3s ease;
}

.paginacion button:hover {
  background-color: #b3d9ff;
}

.paginacion button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

#modalUsuario input,
#modalUsuario select,
#modalUsuario label {
    padding: 8px 8px 5px 8px;
}

/* --------------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  /*botones del menu de las tablas*/
  .container-menu-listas {
    height: 100%;
  }
  /*seccion de abm de cada tabla*/
  #atras {
    margin: 5px 0 0 30px;
    left: 0;
  }
  #atras img {
    width: 40px;
  }

  .container-listas { /*main listas*/
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 30px 0;
  }

  .container-listas h1 {
    min-width: 0;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 15px;
  }
  .container-listas label,
  .container-listas input,
  .container-listas select,
  .container-listas textarea{
    padding: 8px;
  }
  .container-form-listas {
    width: 100%;
    margin-bottom: 30px;
  }
  .container-form-listas button {
    padding: 10px;
    margin: 15px 0 15px;
    font-size: medium;
  }
  .container-busqueda-tablas{
    width: 100%;
    min-width: 250px;
  }
  .container-tabla-listas td {
    padding: 8px 20px 3px;
  }
  .container-tabla-listas table button {
    padding: 10px;
    margin-bottom: 5px;
  }

}

@media screen and (max-width: 576px) {

  /*botones de listas*/
  .container-menu-listas a {
    width: 90%;
  }

  /*seccion de abm de cada tabla*/
  #atras {
    display: none;
  }
  .container-form-listas{
    margin-bottom: 20px;
  }
  .container-form-listas form {
    width: 90%;
  }
  .container-listas{
    padding: 20px 0;
  }
  .container-listas h1 {
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 5px;
  }
  .container-listas input,
  .container-listas select,
  .container-listas textarea{
    width: 75%;
    padding: 5px;
  }
  .container-listas label{
    width: 75%;
    padding: 8px 5px;
  }
  .container-busqueda-tablas {
    /* width: 400px; */
    width: 90%;
  }
  .container-busqueda-tablas h2 {
    font-size: 20px;
    padding: 15px 0;
  }
  #buscador{
    max-width: 200px;
  }
  .container-busqueda-tablas button{
    padding: 10px;
  }
  .container-tabla-listas {
    width: 100%;
    padding-bottom: 0;
    overflow-x: auto;
    padding: 0 5px;
  }
  .buscador-container {
    padding: 10px 0;
  }
  .container-tabla-listas table {
    /* max-width: 90vw; */
    font-size: 14px;
    overflow-x: auto;
    width: 100%;
    display: block !important;
  }
  .container-tabla-listas th{
    padding: 6px;
  }
  .container-tabla-listas td {
    padding: 3px 6px 1px;
  }
  .container-tabla-listas table button {
    margin-bottom: 2px;
  }
  .modal-editar {
    width: 90%;
  }
  .modal-editar h2 {
    padding: 15px 0;
  }
  .modal-editar img {
    max-height: 120px;
  }
  #editarForm button[type="submit"] {
    font-size: 15px;
    padding: 10px 15px;
  }
  #cerrarModal {
    padding: 8px 12px;
  }
}